In [4]:
import os
import pandas as pd
import matplotlib.pyplot as plt

carpeta_data = "./data" #Ruta de la carpeta donde están los CSV
archivos_csv = [f for f in os.listdir(carpeta_data) if f.endswith(".csv")] #Archivos CSV listados en la carpeta

print(f"Se encontraron {len(archivos_csv)} archivos CSV en la carpeta 'data'.")
print("\nLista de archivos:")

for archivo in archivos_csv:
    print(f"- {archivo}")

# Cargar y mostrar las primeras filas de cada CSV
for archivo in archivos_csv:
    ruta_archivo = os.path.join(carpeta_data, archivo)
    print(f"\nMostrando datos de: {archivo}")
    try:
        df = pd.read_csv(ruta_archivo, encoding='latin1')  # Intentamos leer con encoding 'latin1'
    except UnicodeDecodeError:
        df = pd.read_csv(ruta_archivo, encoding='utf-8')  # Si falla, intentamos con 'utf-8'
    print(df.head())
    print("\nInformación general:")
    print(df.info())
    print("-"*80)
    
    # Si el archivo tiene columnas numéricas, mostrar un histograma de la primera columna numérica
    #columnas_numericas = df.select_dtypes(include=['number']).columns
    #if len(columnas_numericas) > 0:
        #df[columnas_numericas[0]].hist(bins=20)
        #plt.title(f"Histograma de {columnas_numericas[0]} en {archivo}")
        #plt.show()

Se encontraron 11 archivos CSV en la carpeta 'data'.

Lista de archivos:
- ibtracs.since1980.list.v04r01.csv
- ibtracs.SA.list.v04r01.csv
- ibtracs.NI.list.v04r01.csv
- ibtracs.EP.list.v04r01.csv
- ibtracs.SI.list.v04r01.csv
- ibtracs.ACTIVE.list.v04r01.csv
- ibtracs.NA.list.v04r01.csv
- ibtracs.ALL.list.v04r01.csv
- ibtracs.SP.list.v04r01.csv
- ibtracs.WP.list.v04r01.csv
- ibtracs.last3years.list.v04r01.csv

Mostrando datos de: ibtracs.since1980.list.v04r01.csv

/tmp/ipykernel_5138/308836236.py:19: DtypeWarning: Columns (1,2,8,9,14,19,20,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo, encoding='latin1')  # Intentamos leer con encoding 'latin1'

             SID SEASON NUMBER BASIN SUBBASIN  NAME             ISO_TIME  \
0                  Year
1  1980001S13173   1980      1    SP       MM  PENI  1980-01-01 00:00:00
2  1980001S13173   1980      1    SP       MM  PENI  1980-01-01 03:00:00
3  1980001S13173   1980      1    SP       MM  PENI  1980-01-01 06:00:00
4  1980001S13173   1980      1    SP       MM  PENI  1980-01-01 09:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     TS          -12.5         172.5  ...
2     TS          -12.2         172.4  ...
3     TS          -11.9         172.4  ...
4     TS          -11.7         172.4  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                         6       350
2                         6       350
3                         5       360
4                         4        10

[5 rows x 174 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298633 entries, 0 to 298632
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 396.4+ MB
None
--------------------------------------------------------------------------------

Mostrando datos de: ibtracs.SA.list.v04r01.csv
             SID SEASON NUMBER BASIN SUBBASIN     NAME             ISO_TIME  \
0                  Year
1  2004086S29318   2004     17    SA       MM  UNNAMED  2004-03-25 18:00:00
2  2004086S29318   2004     17    SA       MM  UNNAMED  2004-03-25 21:00:00
3  2004086S29318   2004     17    SA       MM  UNNAMED  2004-03-26 00:00:00
4  2004086S29318   2004     17    SA       MM  UNNAMED  2004-03-26 03:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     SS          -28.6         -41.8  ...
2     SS          -28.7         -42.2  ...
3     TS          -28.7         -42.5  ...
4     TS          -28.7         -42.8  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                         7       260
2                         6       260
3                         5       265
4                         4       270

[5 rows x 174 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 163.3+ KB
None
--------------------------------------------------------------------------------

Mostrando datos de: ibtracs.NI.list.v04r01.csv

/tmp/ipykernel_5138/308836236.py:19: DtypeWarning: Columns (1,2,8,9,14,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo, encoding='latin1')  # Intentamos leer con encoding 'latin1'

             SID SEASON NUMBER BASIN SUBBASIN     NAME             ISO_TIME  \
0                  Year
1  1842298N11080   1842      1    NI       BB  UNNAMED  1842-10-25 03:00:00
2  1842298N11080   1842      1    NI       BB  UNNAMED  1842-10-25 06:00:00
3  1842298N11080   1842      1    NI       BB  UNNAMED  1842-10-25 09:00:00
4  1842298N11080   1842      1    NI       BB  UNNAMED  1842-10-25 12:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     NR           10.9          80.3  ...
2     NR           10.9          79.8  ...
3     NR           10.8          79.4  ...
4     NR           10.8          78.9  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                         9       265
2                         9       265
3                         9       265
4                         9       265

[5 rows x 174 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62049 entries, 0 to 62048
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 82.4+ MB
None
--------------------------------------------------------------------------------

Mostrando datos de: ibtracs.EP.list.v04r01.csv

/tmp/ipykernel_5138/308836236.py:19: DtypeWarning: Columns (1,2,8,9,14,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo, encoding='latin1')  # Intentamos leer con encoding 'latin1'

             SID SEASON NUMBER BASIN SUBBASIN     NAME             ISO_TIME  \
0                  Year
1  1876273N14301   1876     19   NaN      NaN  UNNAMED  1876-09-29 00:00:00
2  1876273N14301   1876     19   NaN      NaN  UNNAMED  1876-09-29 03:00:00
3  1876273N14301   1876     19   NaN       CS  UNNAMED  1876-09-29 06:00:00
4  1876273N14301   1876     19   NaN       CS  UNNAMED  1876-09-29 09:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     TS           14.1         -58.8  ...
2     TS           14.0         -59.2  ...
3     TS           14.0         -59.6  ...
4     TS           14.0         -60.0  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                         8       260
2                         8       265
3                         8       265
4                         9       270

[5 rows x 174 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97476 entries, 0 to 97475
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 129.4+ MB
None
--------------------------------------------------------------------------------

Mostrando datos de: ibtracs.SI.list.v04r01.csv

/tmp/ipykernel_5138/308836236.py:19: DtypeWarning: Columns (1,2,8,9,14,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo, encoding='latin1')  # Intentamos leer con encoding 'latin1'

             SID SEASON NUMBER BASIN SUBBASIN     NAME             ISO_TIME  \
0                  Year
1  1848011S09079   1848      1    SI       MM  UNNAMED  1848-01-11 06:00:00
2  1848011S09079   1848      1    SI       MM  UNNAMED  1848-01-11 09:00:00
3  1848011S09079   1848      1    SI       MM  UNNAMED  1848-01-11 12:00:00
4  1848011S09079   1848      1    SI       MM  UNNAMED  1848-01-11 15:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     NR           -9.0          79.0  ...
2     NR           -9.4          77.7  ...
3     NR           -9.8          76.5  ...
4     NR          -10.3          75.2  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                        26       250
2                        26       250
3                        26       250
4                        26       250

[5 rows x 174 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167115 entries, 0 to 167114
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 221.8+ MB
None
--------------------------------------------------------------------------------

Mostrando datos de: ibtracs.ACTIVE.list.v04r01.csv
             SID SEASON NUMBER BASIN SUBBASIN     NAME             ISO_TIME  \
0                  Year
1  2025029S12076   2025      4    SI       MM  UNNAMED  2025-01-28 12:00:00
2  2025029S12076   2025      4    SI       MM  UNNAMED  2025-01-28 15:00:00
3  2025029S12076   2025      4    SI       MM  UNNAMED  2025-01-28 18:00:00
4  2025029S12076   2025      4    SI       MM  UNNAMED  2025-01-28 21:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     NR          -11.7          76.2  ...
2     NR          -11.9          76.5  ...
3     NR          -12.0          76.7  ...
4     NR          -12.2          76.6  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                         7       115
2                         6       120
3                         3       165
4                         6       220

[5 rows x 174 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 26.0+ KB
None
--------------------------------------------------------------------------------

Mostrando datos de: ibtracs.NA.list.v04r01.csv

/tmp/ipykernel_5138/308836236.py:19: DtypeWarning: Columns (1,2,3,8,9,14,19,20,23,24,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo, encoding='latin1')  # Intentamos leer con encoding 'latin1'

             SID SEASON NUMBER BASIN SUBBASIN     NAME             ISO_TIME  \
0                  Year
1  1851175N26270   1851      5   NaN       GM  UNNAMED  1851-06-23 12:00:00
2  1851175N26270   1851      5   NaN       GM  UNNAMED  1851-06-23 15:00:00
3  1851175N26270   1851      5   NaN       GM  UNNAMED  1851-06-23 18:00:00
4  1851175N26270   1851      5   NaN       GM  UNNAMED  1851-06-23 21:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     TS           26.1         -90.4  ...
2     TS           26.2         -90.7  ...
3     TS           26.3         -91.0  ...
4     TS           26.4         -91.3  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                         6       290
2                         6       290
3                         6       290
4                         6       290

[5 rows x 174 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127220 entries, 0 to 127219
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 168.9+ MB
None
--------------------------------------------------------------------------------

Mostrando datos de: ibtracs.ALL.list.v04r01.csv

/tmp/ipykernel_5138/308836236.py:19: DtypeWarning: Columns (1,2,8,9,14,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo, encoding='latin1')  # Intentamos leer con encoding 'latin1'

             SID SEASON NUMBER BASIN SUBBASIN     NAME             ISO_TIME  \
0                  Year
1  1842298N11080   1842      1    NI       BB  UNNAMED  1842-10-25 03:00:00
2  1842298N11080   1842      1    NI       BB  UNNAMED  1842-10-25 06:00:00
3  1842298N11080   1842      1    NI       BB  UNNAMED  1842-10-25 09:00:00
4  1842298N11080   1842      1    NI       BB  UNNAMED  1842-10-25 12:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     NR           10.9          80.3  ...
2     NR           10.9          79.8  ...
3     NR           10.8          79.4  ...
4     NR           10.8          78.9  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                         9       265
2                         9       265
3                         9       265
4                         9       265

[5 rows x 174 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716704 entries, 0 to 716703
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 951.4+ MB
None
--------------------------------------------------------------------------------

Mostrando datos de: ibtracs.SP.list.v04r01.csv

/tmp/ipykernel_5138/308836236.py:19: DtypeWarning: Columns (1,2,8,9,14,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo, encoding='latin1')  # Intentamos leer con encoding 'latin1'

             SID SEASON NUMBER BASIN SUBBASIN     NAME             ISO_TIME  \
0                  Year
1  1897005S10135   1897      1    SP       EA  UNNAMED  1897-01-04 12:00:00
2  1897005S10135   1897      1    SI       WA  UNNAMED  1897-01-04 15:00:00
3  1897005S10135   1897      1    SI       WA  UNNAMED  1897-01-04 18:00:00
4  1897005S10135   1897      1    SI       WA  UNNAMED  1897-01-04 21:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     NR          -10.1         135.3  ...
2     NR          -10.3         134.9  ...
3     NR          -10.4         134.5  ...
4     NR          -10.6         134.2  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                         9       245
2                         8       245
3                         8       245
4                         7       245

[5 rows x 174 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76331 entries, 0 to 76330
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 101.3+ MB
None
--------------------------------------------------------------------------------

Mostrando datos de: ibtracs.WP.list.v04r01.csv

/tmp/ipykernel_5138/308836236.py:19: DtypeWarning: Columns (1,2,8,9,14,142,143,144,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo, encoding='latin1')  # Intentamos leer con encoding 'latin1'

             SID SEASON NUMBER BASIN SUBBASIN     NAME             ISO_TIME  \
0                  Year
1  1884177N17124   1884     14    WP       MM  UNNAMED  1884-06-24 16:00:00
2  1884177N17124   1884     14    WP       MM  UNNAMED  1884-06-24 18:00:00
3  1884177N17124   1884     14    WP       MM  UNNAMED  1884-06-24 21:00:00
4  1884177N17124   1884     14    WP       MM  UNNAMED  1884-06-25 00:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     NR           16.5         124.0  ...
2     NR           16.5         123.8  ...
3     NR           16.6         123.5  ...
4     NR           16.7         123.2  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                         6       280
2                         6       280
3                         6       285
4                         6       285

[5 rows x 174 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244509 entries, 0 to 244508
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 324.6+ MB
None
--------------------------------------------------------------------------------

Mostrando datos de: ibtracs.last3years.list.v04r01.csv
             SID SEASON NUMBER BASIN SUBBASIN     NAME             ISO_TIME  \
0                  Year
1  2022008S13148   2022      1    SP       EA  TIFFANY  2022-01-08 00:00:00
2  2022008S13148   2022      1    SP       EA  TIFFANY  2022-01-08 03:00:00
3  2022008S13148   2022      1    SP       EA  TIFFANY  2022-01-08 06:00:00
4  2022008S13148   2022      1    SP       EA  TIFFANY  2022-01-08 09:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     MX          -12.6         147.7  ...           45
2     MX          -12.9         147.8  ...
3     MX          -13.1         147.9  ...           45
4     MX          -13.2         147.9  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                         6       160
2                         5       160
3                         4       160
4                         2       165

[5 rows x 174 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17166 entries, 0 to 17165
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 22.8+ MB
None
--------------------------------------------------------------------------------

/tmp/ipykernel_5138/308836236.py:19: DtypeWarning: Columns (1,2,8,9,14,19,20,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo, encoding='latin1')  # Intentamos leer con encoding 'latin1'

# Selección de dataset sobre el cual trabajar

In [5]:
import pandas as pd 
archivo_csv = "./data/ibtracs.since1980.list.v04r01.csv"  #Cambio de archivo manual
# Leyendo el archivo CSV y mostrando las primeras filas
try:
    df = pd.read_csv(archivo_csv, encoding='latin1')  #Intentamos leer con encoding 'latin1'
except UnicodeDecodeError:
    df = pd.read_csv(archivo_csv, encoding='utf-8')  #Si falla, intentamos con 'utf-8'
# Mostrar las primeras filas del archivo
print(f"Mostrando datos de: {archivo_csv}")
print(df.head())

# Mostrar información del DataFrame
print("\nInformación del DataFrame:")
print(df.info())

/tmp/ipykernel_5138/1731773636.py:5: DtypeWarning: Columns (1,2,8,9,14,19,20,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(archivo_csv, encoding='latin1')  #Intentamos leer con encoding 'latin1'

Mostrando datos de: ./data/ibtracs.since1980.list.v04r01.csv
             SID SEASON NUMBER BASIN SUBBASIN  NAME             ISO_TIME  \
0                  Year
1  1980001S13173   1980      1    SP       MM  PENI  1980-01-01 00:00:00
2  1980001S13173   1980      1    SP       MM  PENI  1980-01-01 03:00:00
3  1980001S13173   1980      1    SP       MM  PENI  1980-01-01 06:00:00
4  1980001S13173   1980      1    SP       MM  PENI  1980-01-01 09:00:00

  NATURE            LAT           LON  ... BOM_GUST_PER REUNION_GUST  \
0         degrees_north  degrees_east  ...       second          kts
1     TS          -12.5         172.5  ...
2     TS          -12.2         172.4  ...
3     TS          -11.9         172.4  ...
4     TS          -11.7         172.4  ...

  REUNION_GUST_PER USA_SEAHGT USA_SEARAD_NE USA_SEARAD_SE USA_SEARAD_SW  \
0           second         ft         nmile         nmile         nmile
1
2
3
4

  USA_SEARAD_NW STORM_SPEED STORM_DIR
0         nmile         kts   degrees
1                         6       350
2                         6       350
3                         5       360
4                         4        10

[5 rows x 174 columns]

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298633 entries, 0 to 298632
Columns: 174 entries, SID to STORM_DIR
dtypes: int64(1), object(173)
memory usage: 396.4+ MB
None

In [6]:
datacsv = pd.read_csv('./data/ibtracs.since1980.list.v04r01.csv') #Aquí se debe poner la ruta completa de la data

/tmp/ipykernel_5138/3426896741.py:1: DtypeWarning: Columns (1,2,8,9,14,19,20,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  datacsv = pd.read_csv('./data/ibtracs.since1980.list.v04r01.csv') #Aquí se debe poner la ruta completa de la data

In [7]:
datacsv.head(3)

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,BOM_GUST_PER,REUNION_GUST,REUNION_GUST_PER,USA_SEAHGT,USA_SEARAD_NE,USA_SEARAD_SE,USA_SEARAD_SW,USA_SEARAD_NW,STORM_SPEED,STORM_DIR
0,,Year,,,,,,,degrees_north,degrees_east,...,second,kts,second,ft,nmile,nmile,nmile,nmile,kts,degrees
1,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 00:00:00,TS,-12.5,172.5,...,,,,,,,,,6,350
2,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 03:00:00,TS,-12.2,172.4,...,,,,,,,,,6,350

# Por la cantidad de columnas seleccionar cuáles son las más importantes para el análisis que se desea hacer

In [8]:
print(datacsv.dtypes.value_counts())
print(datacsv.shape)

object    173
int64       1
Name: count, dtype: int64
(298633, 174)

In [9]:
arreglo_columnas = []
for col in datacsv.columns:
    arreglo_columnas.append(col)

In [10]:
print(arreglo_columnas)

['SID', 'SEASON', 'NUMBER', 'BASIN', 'SUBBASIN', 'NAME', 'ISO_TIME', 'NATURE', 'LAT', 'LON', 'WMO_WIND', 'WMO_PRES', 'WMO_AGENCY', 'TRACK_TYPE', 'DIST2LAND', 'LANDFALL', 'IFLAG', 'USA_AGENCY', 'USA_ATCF_ID', 'USA_LAT', 'USA_LON', 'USA_RECORD', 'USA_STATUS', 'USA_WIND', 'USA_PRES', 'USA_SSHS', 'USA_R34_NE', 'USA_R34_SE', 'USA_R34_SW', 'USA_R34_NW', 'USA_R50_NE', 'USA_R50_SE', 'USA_R50_SW', 'USA_R50_NW', 'USA_R64_NE', 'USA_R64_SE', 'USA_R64_SW', 'USA_R64_NW', 'USA_POCI', 'USA_ROCI', 'USA_RMW', 'USA_EYE', 'TOKYO_LAT', 'TOKYO_LON', 'TOKYO_GRADE', 'TOKYO_WIND', 'TOKYO_PRES', 'TOKYO_R50_DIR', 'TOKYO_R50_LONG', 'TOKYO_R50_SHORT', 'TOKYO_R30_DIR', 'TOKYO_R30_LONG', 'TOKYO_R30_SHORT', 'TOKYO_LAND', 'CMA_LAT', 'CMA_LON', 'CMA_CAT', 'CMA_WIND', 'CMA_PRES', 'HKO_LAT', 'HKO_LON', 'HKO_CAT', 'HKO_WIND', 'HKO_PRES', 'KMA_LAT', 'KMA_LON', 'KMA_CAT', 'KMA_WIND', 'KMA_PRES', 'KMA_R50_DIR', 'KMA_R50_LONG', 'KMA_R50_SHORT', 'KMA_R30_DIR', 'KMA_R30_LONG', 'KMA_R30_SHORT', 'NEWDELHI_LAT', 'NEWDELHI_LON', 'NEWDELHI_GRADE', 'NEWDELHI_WIND', 'NEWDELHI_PRES', 'NEWDELHI_CI', 'NEWDELHI_DP', 'NEWDELHI_POCI', 'REUNION_LAT', 'REUNION_LON', 'REUNION_TYPE', 'REUNION_WIND', 'REUNION_PRES', 'REUNION_TNUM', 'REUNION_CI', 'REUNION_RMW', 'REUNION_R34_NE', 'REUNION_R34_SE', 'REUNION_R34_SW', 'REUNION_R34_NW', 'REUNION_R50_NE', 'REUNION_R50_SE', 'REUNION_R50_SW', 'REUNION_R50_NW', 'REUNION_R64_NE', 'REUNION_R64_SE', 'REUNION_R64_SW', 'REUNION_R64_NW', 'BOM_LAT', 'BOM_LON', 'BOM_TYPE', 'BOM_WIND', 'BOM_PRES', 'BOM_TNUM', 'BOM_CI', 'BOM_RMW', 'BOM_R34_NE', 'BOM_R34_SE', 'BOM_R34_SW', 'BOM_R34_NW', 'BOM_R50_NE', 'BOM_R50_SE', 'BOM_R50_SW', 'BOM_R50_NW', 'BOM_R64_NE', 'BOM_R64_SE', 'BOM_R64_SW', 'BOM_R64_NW', 'BOM_ROCI', 'BOM_POCI', 'BOM_EYE', 'BOM_POS_METHOD', 'BOM_PRES_METHOD', 'NADI_LAT', 'NADI_LON', 'NADI_CAT', 'NADI_WIND', 'NADI_PRES', 'WELLINGTON_LAT', 'WELLINGTON_LON', 'WELLINGTON_WIND', 'WELLINGTON_PRES', 'DS824_LAT', 'DS824_LON', 'DS824_STAGE', 'DS824_WIND', 'DS824_PRES', 'TD9636_LAT', 'TD9636_LON', 'TD9636_STAGE', 'TD9636_WIND', 'TD9636_PRES', 'TD9635_LAT', 'TD9635_LON', 'TD9635_WIND', 'TD9635_PRES', 'TD9635_ROCI', 'NEUMANN_LAT', 'NEUMANN_LON', 'NEUMANN_CLASS', 'NEUMANN_WIND', 'NEUMANN_PRES', 'MLC_LAT', 'MLC_LON', 'MLC_CLASS', 'MLC_WIND', 'MLC_PRES', 'USA_GUST', 'BOM_GUST', 'BOM_GUST_PER', 'REUNION_GUST', 'REUNION_GUST_PER', 'USA_SEAHGT', 'USA_SEARAD_NE', 'USA_SEARAD_SE', 'USA_SEARAD_SW', 'USA_SEARAD_NW', 'STORM_SPEED', 'STORM_DIR']

## Columnas más importantes para la clasificación de la naturaleza del ciclón

__Variable dependiente:__ NATURE

__Variables independientes:__  
"WMO_WIND", 
"WMO_PRES",
"BASIN",
"USA_R34_NE",
"USA_R34_SE",
"USA_R34_SW",
"USA_R34_NW",
"USA_R50_NE",
"USA_R50_SE",
"USA_R50_SW",
"USA_R50_NW", 
"USA_R64_NE",
"USA_R64_SE",
"USA_R64_SW",
"USA_R64_NW"

## Columnas más importantes para predicción de landfall (es decir, si el ciclón toca la tierra)

__Variable dependiente:__ LANDFALL

__Variables independientes:__ 
"LAT", 
"LON", 
"DIST2LAND",
"STORM_SPEED", 
"STORM_DIR", 
"BASIN", 
"WMO_WIND",
"WMO_PRES"

## Columnas más importantes para clasificación/predicción de intensidad

__Variables dependientes:__ USA_SSHS

__Variables independientes:__ 
"WMO_WIND", 
"WMO_PRES", 
"USA_R34_NE",
"USA_R34_SE",
"USA_R34_SW",
"USA_R34_NW",
"USA_R50_NE",
"USA_R50_SE",
"USA_R50_SW",
"USA_R50_NW", 
"USA_R64_NE",
"USA_R64_SE",
"USA_R64_SW",
"USA_R64_NW", 
"BASIN"

## Columnas más importantes para la evolución temporal del ciclón
 
__Variables dependientes:__ 
"VMO_WIND",
"VMO_PRES",
"LAT", 
"LON"

__Variables independientes:__ 
"ISO_TIME",
"VMO_WIND", 
"VMO_PRES", 
"LAT", 
"LON", 
"STORM_SPEED", 
"STORM_DIR", 
"BASIN"

In [11]:
columnas = [
  "ISO_TIME",
  "NATURE", 
  "WMO_WIND", 
  "WMO_PRES", 
  "BASIN", 
  "USA_R34_NE",
  "USA_R34_SE",
  "USA_R34_SW",
  "USA_R34_NW",
  "USA_R50_NE",
  "USA_R50_SE",
  "USA_R50_SW",
  "USA_R50_NW", 
  "USA_R64_NE",
  "USA_R64_SE",
  "USA_R64_SW",
  "USA_R64_NW",
  "LAT", 
  "LON", 
  "DIST2LAND",
  "STORM_SPEED", 
  "STORM_DIR",
]

In [12]:
datasas = datacsv[columnas]
datasas

,ISO_TIME,NATURE,WMO_WIND,WMO_PRES,BASIN,USA_R34_NE,USA_R34_SE,USA_R34_SW,USA_R34_NW,USA_R50_NE,...,USA_R50_NW,USA_R64_NE,USA_R64_SE,USA_R64_SW,USA_R64_NW,LAT,LON,DIST2LAND,STORM_SPEED,STORM_DIR
0,,,kts,mb,,nmile,nmile,nmile,nmile,nmile,...,nmile,nmile,nmile,nmile,nmile,degrees_north,degrees_east,km,kts,degrees
1,1980-01-01 00:00:00,TS,,,SP,,,,,,...,,,,,,-12.5,172.5,647,6,350
2,1980-01-01 03:00:00,TS,,,SP,,,,,,...,,,,,,-12.2,172.4,653,6,350
3,1980-01-01 06:00:00,TS,,,SP,,,,,,...,,,,,,-11.9,172.4,670,5,360
4,1980-01-01 09:00:00,TS,,,SP,,,,,,...,,,,,,-11.7,172.4,682,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298628,2025-01-29 12:00:00,NR,,,SI,44,131,131,44,,...,,,,,,-24.9,42.5,135,11,145
298629,2025-01-29 15:00:00,NR,,,SI,40,118,118,40,,...,,,,,,-25.4,42.8,128,11,145
298630,2025-01-29 18:00:00,NR,,,SI,35,104,104,35,,...,,,,,,-25.8,43.2,120,8,130
298631,2025-01-29 21:00:00,NR,,,SI,35,104,104,35,,...,,,,,,-25.9,43.5,112,7,110
298632,2025-01-30 00:00:00,NR,,,SI,35,104,104,35,,...,,,,,,-26.0,43.9,92,7,110

In [13]:
datasas.isnull().sum()

ISO_TIME           0
NATURE             0
WMO_WIND           0
WMO_PRES           0
BASIN          40814
USA_R34_NE         0
USA_R34_SE         0
USA_R34_SW         0
USA_R34_NW         0
USA_R50_NE         0
USA_R50_SE         0
USA_R50_SW         0
USA_R50_NW         0
USA_R64_NE         0
USA_R64_SE         0
USA_R64_SW         0
USA_R64_NW         0
LAT                0
LON                0
DIST2LAND          0
STORM_SPEED        0
STORM_DIR          0
dtype: int64

In [42]:
# Llamando la ruta en la que quiero que se guarde el archivo con la data.
output_file = '/home/luna-k/Escritorio/SAS Curiosity Cup 2025/datasas.csv'

In [43]:
# Descargando el csv resultante.
datasas.to_csv(output_file)